*,
*::before *::after {
    box-sizing: border-box;
}

.body {
 font-family: "Roboto", sans-serif;
 background-color: #FFFFFF;
 color: #434455;
}
a {
 text-decoration: none;
}
.container {
 width: 1158px;
 padding: 0 15px;
 margin: 0 auto;
}
.nav-link.active {
    color: #404bbf;
    position: relative;
}

.nav-link.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    border-radius: 2px;
    background-color: #404bbf;
    width: 100%;
    height: 4px;
}
h1,h2,h3,h4,h5,h6,p {
 margin: 0;
}
ul {
 margin: 0;
 padding: 0;
 list-style-type: none;   
}
.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
  }
.header {
 border-bottom: 1px solid #e7e9fc;
 box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-conteiner {
 display: flex;
 align-items: center;
 justify-content: space-between;

}
.navigation {
 display: flex;
 align-items: center;
 gap: 40px;
}
.logo {
 font-family: "Raleway", sans-serif;
 line-height: 1.17;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 font-size: 18px;
 font-weight: 700;
 color: #4d5ae5;
 text-decoration: none;
 margin-right: 76px;
}
.logo-top{
 font-family: "Raleway", sans-serif;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 font-weight: 700;
 font-size: 18px;
 color: #2e2f42;
 gap: 76px;
}

.nav-link-header {
 display: flex;
 gap: 40px;
 list-style-type: none;
}
.nav-link {
 font-weight: 500;
 letter-spacing: 0.02em;
 font-size: 16px;
 line-height: 1.5;
 color: #2e2f42;
 background-color: #fff;
 text-decoration: none;
 padding: 24px 0;
 display: block;
 gap: 40px;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus{
 color: #404bbf;
}
.address {
 font-style: normal;
}
.address-title {
 display: flex;
 gap: 40px;
}
.add-title {
 display: flex;
 align-items: center;
 gap: 40px;
}
.title-address {
 font-style: normal;
 text-wrap: nowrap;
 letter-spacing: 0.02em;
 line-height: 1.5;
 gap: 40px;
 font-size: 16px;
 font-weight: 400;
 color: #434455;
 background-color: #fff;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title-address:hover,
.title-address:focus {
 color: #404bbf;
}
 img {
 display: block;
 max-width: 100%;
 height: auto;
}

.section {
 padding: 120px 0;
 background-size: cover;
}

.main-page-description {
    display: flex;
    list-style-type: none;
    gap: 24px;
}
.main-page {
 width: calc((100% - 72px) / 4);
}
.main-page-box {
    background-color: #F4F4FD;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: var(--bg-team);
    padding: 24px 0;
    margin-bottom: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
}
.main-page-descr{
 margin-bottom: 8px;
 letter-spacing: 0.02em;
 font-weight: 500;
 font-size: 20px;
 line-height: 1.2;
 color: #2e2f42;
}
.text-description {
 letter-spacing: 0.02em;
 font-weight: 400;
 font-size: 16px;
 line-height: 1.5;
 color: #434455;
 width: 264px;
}

.container-name {
 display: flex;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
 justify-content: center;
 align-items: center;
}
.main-title-content {
 letter-spacing: 0.02em;
 line-height: 1.07;
 text-align: center;
 font-size: 56px;
 font-weight: 700;
 color: #ffffff;
 max-width: 496px;
 margin: 0 auto;
 margin-bottom: 48px;
}
.button {
 text-align: center;
}
.button-order-service:hover,
.button-order-service:focus {
 background-color: #404bbf;
}

.button-order-service {
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); font-size: 16px;
 margin: 0 auto;
 display: block;
 padding: 16px 32px;
 min-width: 169px;
 height: 56px;
 border: none;
 border-radius: 4px;
 font-weight: 500;
 line-height: 1.5;
 letter-spacing: 0.04em;
 cursor: pointer;
 background-color: #4d5ae5;
 color: #ffffff;
 background-color:250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-order-service:hover,
.button-order-service:focus {
 background-color: #404bbf;
}
/* Бізнес*/

.business-section {
 background-color: #2e2f42;
 background-size: cover;
 padding: 188px 0;
 background-repeat: no-repeat;
 background-position: center;
 margin: 0 auto;
 max-width: 1440px;
 width: 100%;
 background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg); 
}

.description-profession {
 background-color: #ffffff;
 padding: 120px 0;
}
.title{
 letter-spacing: 0.02em;
}


.team{
 background-color: #F4F4FD;
 padding: 120px 0;
}
.title-our-team{
 margin-bottom: 72px;
 text-transform: capitalize;
 line-height: 1.11;
 letter-spacing: 0.02em;
 font-weight: 700;
 font-size: 36px;
 text-align: center;
 color: #2e2f42;
 background-color: #f4f4fd;
}
.team-list {
 display: flex;
 gap: 24px;
 list-style-type: none;
}
.team-item {
 background-color: #fff;
 width: calc((100% - 24px * 3) / 4 );
 border-radius: 0px 0px 4px 4px;
 box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-div {
 padding: 32px 0;
 text-align: center;
 background-color: #ffffff;
}
.team-social-list {
display: flex;
justify-content: center;
gap: 24px;
}
.team-social-item {
display: flex;
width: 40px;
height: 40px;
align-items: center;
box-sizing: inherit;
display: list-item;
}
.team-social-link {
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
border-radius: 50%;
background-color: #4d5ae5;
}
.team-social-link:hover{
background-color: #404bbf;;
}
.team-svg {
fill: #f4f4fd
}

.team-sub-title {
 margin-bottom: 8px;
 font-weight: 500;
 letter-spacing: 0.02em;
 font-size: 20px;
 line-height: 1.2;
 color: #2e2f42;
}
.team-text {
 text-align: center;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #434455;
}
.portfolio {
 background-color: #ffffff;
 
}
.title-port {
 width: 218px;
 align-items: center;
}
.title-portfolio {
 font-family: "Roboto", sans-serif;
 margin-bottom: 72px;
 line-height: 1.11;
 letter-spacing: 0.02em;
 font-weight: 700;
 font-size: 36px;
 line-height: 1.11111;
 color: #2e2f42;
 text-align: center;
 text-transform: capitalize;
 
}
.portfolio-img {
 display: flex;
 flex-wrap: wrap;
 column-gap: 24px;
 row-gap: 48px;
 list-style-type: none;
}
.portfolio-element:hover .overlay-text { 
    transform: translatey(0%); 
}
.portfolio-element {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-behavior: normal;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
    transition-property: box-shadow;
   
}
.portfolio-element:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.overlay {
    position: relative;
    overflow: hidden;

}
.overlay::after {
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
}

.overlay-text { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: #4d5ae5; 
    padding: 40px 32px; 
    color: #f4f4fd; 
    transform: translateY(100%); 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    font-size: 16px; 
    line-height: 1.5; 
    letter-spacing: 0.02em; 
}

.portfolio-descr {
 padding: 32px 16px;
 border: 1px solid #e7e9fc;
 border-top: none;
}
.title-sub-portfolio {
 margin-bottom: 8px;
 font-weight: 500;
 letter-spacing: 0.02em;
 font-size: 20px;
 line-height: 1.2;
 color: #2e2f42;
}
.portfolio-text {
 letter-spacing: 0.02em;
 font-weight: 400;
 font-size: 16px;
 line-height: 1.5;
 color: #434455;
}

.page-footer {
 background-color: #2e2f42;
 padding: 100px 0;
 flex-direction: row;

}

.page-footer .container{
    display: flex;
    align-items: baseline;
}
.footer-con-logo{
    margin-right: 120px;
}
.footer-a {
 display: inline-block;
}
.footer-p {
 display: flex;
 margin-bottom: 16px;
}
.logo-web {
 font-family: "Raleway", sans-serif;
 display: inline-block;
 margin-bottom: 16px;
 line-height: 1.17;
 letter-spacing: 0.03em;
 font-weight: 700;
 font-size: 18px;
 text-transform: uppercase;
 color: #4d5ae5;
}
.logo-studio {
 color: #f4f4fd;
}
.text-p-footer {
 font-family: "Roboto", sans-serif;
 font-weight: 400;
 font-size: 16px;
 color: #f4f4fd;
 width: 264px;
 line-height: 1.5;
 letter-spacing: 0.02em;

}
.fotter-social {
display: block;
margin-left: 80px;
align-items: baseline;
}
.footer-social-title {
 color: #fff;
 font-weight: 500;
 margin-bottom: 16px;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
}
.footer-social-list {
 display: flex;
 gap: 16px;

}
.footer-social-link {
    
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
color: #f4f4fd;
background-color:#4d5ae5;
border-radius: 50%;
width: 100%;
height: 100%;
}
.footer-social-item {
width: 40px;
height: 40px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
background-color: #31d0aa;
border-radius: 50%;

}

.footer-social-link:hover{
background-color:#31d0aa;
}
.svg {
fill: #f4f4fd;
}
